# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Release builds (created by build-releases scripts)
releases/

# Visual Studio cache/options
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Output folder
Output/

# User-specific save files
SavedGame/*.json
!SavedGame/.gitkeep

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Pathfinder Blueprint Cache
/Blueprints*
/PrototypeSaveParser
*/SavedGame/*